body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Trebuchet MS";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "Trebuchet MS";
}

.links {
  color: #cccfd3;
  text-decoration: none;
  font-family: "Trebuchet MS";
  padding-right: 40px;
}

.lastlink {
  color: #cccfd3;
  text-decoration: none;
  font-family: "Trebuchet MS";
  padding-right: 10px;
}
.links:hover,
.lastlink:hover {
  color: white;
  text-decoration: none;
}

#navtoright {
  right: 0;
}

.to_right {
  float: right;
}
